@charset "utf-8";
@import url('https://fonts.googleapis.com/css2? family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    background-image: linear-gradient(180deg, #0CABA8,  #015958);
    background-attachment: fixed;
    font-family: 'open Sans', sans-serif;
}

main{
    height: 290px;
    width: 200px;
    text-align: center;
    margin: auto;
    padding: 150px;
}

input{
    background-color: #17d1ce3b;
    border: none;
    height: 30px;
    width: 150px;
    font-size: medium;
    border-radius: 5px;
}

 h1{
    font-family:'open Sans', arial, sans-serif;
 }

input{
    display:inline;
 }