@charset "utf-8";

#titulo{
    background-color: aqua;
}

.principal{
    color: rgb(187, 20, 20);
}

body{
    font-family: arial, sans-serif;
    text-align: justify;
}

a:visited{
    color: darkred;
}
a:hover{
    color: rgb(196, 10, 10);
    text-decoration: underline;
}
a:active{
    color: blue;
}

div > p{
    display:none;
}

div:hover > p{
    display: block;
}
div:hover{
    background-color: yellow;
}
div{
    display: inline-block;
    background-color: antiquewhite;
    border: 1px solid black;
    text-align: center;
    height: 150px;
    width: 150px;
}
