@charset "UTF-8";
@font-face {
    font-family: 'bebas neue';
    src: url(fonte/BebasNeue-Regular.ttf);
    font-family: 'android';
    src: url(fonte/IDroid.otf);
}
body{
    background-color: #83E1AD;
    margin: 0px;
}
header{
    font-family:'bebas neue';
    background-image: linear-gradient(180deg, #74CE9C, #276745, #063A1D);
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 2px 7px black;
}
header > p{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
header > h1{
    font-size: 50px;
}
.menu{
    text-align: left;
}
.menu > #home, #noticias, #contacto{
    display: inline;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
#home{
    color: #34B46F;
}
#home:hover{
    color: black;
    background-color: #276745;
    padding: 10px;
    transition: 300ms;
    border-radius: 10px;
}
#noticias{
    color: #34B46F;
}
#noticias:hover{
    color: black;
    background-color: #276745;
    padding: 10px;
    transition: 300ms;
    border-radius: 10px;
}
#contacto{
    color: #34B46F;
}
#contacto:hover{
    color: black;
    background-color: #276745;
    padding: 10px;
    transition: 300ms;
    border-radius: 10px;
}
.principal{
    background-color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: justify;
    padding: 10px;
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    box-shadow: 2px 2px 9px black;
}
section > h1{
    font-family: 'android';
    color: #063D1E;
}
h2{
    font-family: 'android';
    color: #005137;
    background-image: linear-gradient(90deg, #75CE9D, #fff);
}
.link{
    font-family: 'oswald';
    color: black;
    background-color: #38e488;
    text-decoration: none;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #2E714A;
}
.cor{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #2E714A;
}
img{
    display: block;
    margin: auto;
}

.video{
    background-color: #063D1E;
    position: relative;
    padding: 20px;
    padding-bottom: 60%;
}
.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: #83E1AD;
    border-radius: 10px 10px 0px 0px;
}
aside > h3{
    border-radius: 10px 10px 0px 0px;
    background-color: #063a1db7;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer{
    font-family: 'arial';
    text-align: center;
    background-color: #063D1E;
    color: white;
    
}